<div class="mx-4 flex">
  <button onclick="setLocale('vi')">
    <%= image_tag Settings.VN_flag.link, alt: Settings.VN_flag.alt, class: "h-6 w-6 rounded-full cursor-pointer hover:opacity-50" %>
  </button>
  <div class="mx-1">|</div>
  <button onclick="setLocale('en')">
    <%= image_tag Settings.EN_flag.link, alt: Settings.EN_flag.alt, class: "h-6 w-6 rounded-full cursor-pointer hover:opacity-50" %>
  </button>
</div>
